<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta_links.ejs') %>
    <link rel="stylesheet" href="/country.css" />
    <title>Geo API | <%= title %></title>
  </head>
  <body id="override">
    <%- include('./partials/nav.ejs') %>
    <section class="input m-3 p-3">
      <div class="container-lg">
        <form action="/api/country" method="get" class="row g-3">
          <div class="col-lg-10">
            <input
              class="form-control"
              type="text"
              name="Country"
              placeholder="Enter country name"
              aria-label="default input example"
            />
          </div>
          <div class="col-lg-2">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
      </div>
    </section>
    <section class="output">
      <div class="container-lg">
        <div class="card p-3 m-5 rounded-5 shadow w-75 mx-auto">
          <div class="card-body">
            <% if(country != null){%>
            <ul class="list-group">
              <li class="list-group-item">
                Country Name : <%= country.Country %>
              </li>
              <li class="list-group-item">Region : <%= country.Region %></li>
              <li class="list-group-item">
                Population : <%= country.Population %>
              </li>
              <li class="list-group-item">
                Net Migration : <%= country.Netmigration %>
              </li>
              <li class="list-group-item">
                Literacy(%) : <%= country['Literacy(%)'] %>
              </li>
              <li class="list-group-item">
                GDP ($ percapita): <%= country['GDP($percapita)'] %>
              </li>
              <li class="list-group-item">
                Coastline (coast/area ratio) : <%=
                country['Coastline(coast/arearatio)'] %>
              </li>
            </ul>
            <% } else{%>
            <h6>No Entries listed</h6>
            <ul class="list-group">
              <li class="list-group-item">Country Name :</li>
              <li class="list-group-item">Region :</li>
              <li class="list-group-item">Population :</li>
              <li class="list-group-item">Net Migration :</li>
              <li class="list-group-item">Literacy(%) :</li>
              <li class="list-group-item">GDP ($ percapita):</li>
              <li class="list-group-item">Coastline (coast/area ratio) :</li>
            </ul>
            <% } %>
          </div>
        </div>
      </div>
    </section>
    <footer class="foot">
      <h4 class="text-center text-light">
        Project by Samarth katti &copy; 2021
      </h4>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
